body{
    margin: 0 auto;
    text-align: center;
    background-color: #FFA65F;
    font-family: 'Quicksand', sans-serif;
}

#name {
  font-size: 4em;
}

.skillz {
  color: #FFFFFF;
  list-style-type: none;
  margin: 10px 0;
  font-size: 2em;
}

#prof {
  color: green;
}

.skillz i {
  color: #00BEB7;
}

#header {
  width: 100%;
  position: relative;
}

#header h1 {
  width: 375px;
  text-align: center;
  color: #FFFFFF;

  position: relative;
  padding: 10px;
  margin: 0 auto;
}

.texts {
  color: blue;
}

.buffer {
    margin-top: 40px;
    height: 20px;
    width: 100%;
}

#about {
  cursor: pointer;
}

#work {
  cursor: pointer;
}

.up {
  cursor: pointer;
}

#favoritebooks {
  cursor: pointer;
}

#bucketlist {
  cursor: pointer;
  }

.hide {
  display: none;
}

.about {
  display: none;
}

.work {
  display: none;
}

.favoritebooks {
  display: none;
}

.bucketlist {
  display: none;
}

#contact {
  display: inline-flex;
  margin: 5px;
}

.icon {
  margin:5px;
  color: #00BEB7;
}

#nav {
  float: center;
  margin: 0 auto;
  position: relative;
}

#breakfast {
  float: clear;
  position:relative;
  width: 350px;
}


.favoritebooks div ul li {
  list-style-type: none;
}

.bucketlist ul li {
  list-style-type: none;
}



 @media only screen and (min-width: 982); {
    .skillz p {
      display: inline;
    }

    body {
      background-color: white;
    }
  }  



